<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kaygusuz UAS Blog</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>

    <!-- Theme CSS -->
    <link href="~/Content/devblog-theme-v1.1/devblog-v1.1/assets/css/theme-2.css" rel="stylesheet" />

</head>

<body>

    <header class="header text-center">
        <h1 class="blog-name pt-lg-4 mb-0"><a href="/Blog/">KaygusuzUAS Blog</a></h1>

        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="~/Content/devblog-theme-v1.1/devblog-v1.1/assets/images/web.jpg" alt="image">

                    <div class="bio mb-3">Merhabalar bu bir eğitim projesidir.Bu proje asp.net MVC5 ile dinamik blog sitesi geliştirme eğitimidir.<br><a href="about.html">Daha Fazla Bilgi İçin</a></div><!--//bio-->
                    <ul class="social-list list-inline py-3 mx-auto">
                        <li class="list-inline-item"><a href="https://wwww.twitter.com/savsistek/"><i class="fab fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/organization-guest/company/kaygusuz-i̇ha-takımı?challengeId=AQE5Ag5uyzfOdgAAAXGjaaFmIdCnxd5vML9gWkNFQxR7zuuuloRbOa09acc37WOHs0q_5_MTR9iVrl9fO7zMVAydH9m7NI8Hmg&submissionId=88cf2180-ba3b-0816-0a94-aedeca21bb32"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/kaygusuziha"><i class="fab fa-github-alt fa-fw"></i></a></li>
                    </ul><!--//social-list-->
                    <hr>
                </div><!--//profile-section-->

                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Blog/Index"><i class="fas fa-home fa-fw mr-2"></i>Anasayfa <span class="sr-only">(current)</span></a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog/Hakkinda/"><i class="fas fa-user fa-fw mr-2"></i>Hakkımda</a>
                    </li>
                </ul>

                <div class="my-2 my-md-3">
                    <a class="btn btn-primary" href="https://www.instagram.com/kaygusuzihatakimi/" target="_blank">Takipte Kalın</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-wrapper">
      
        @RenderBody()
       

      

    </div><!--//main-wrapper-->
    <!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
   igure-panel-->
    <!-- Javascript -->
    <script src="~/Content/devblog-theme-v1.1/devblog-v1.1/assets/plugins/jquery-3.3.1.min.js"></script>
    <script src="~/Content/devblog-theme-v1.1/devblog-v1.1/assets/plugins/popper.min.js"></script>
    <script src="~/Content/devblog-theme-v1.1/devblog-v1.1/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="~/Content/devblog-theme-v1.1/devblog-v1.1/assets/js/demo/style-switcher.js"></script>


</body>
</html>

